apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fastapi-ingress
spec:
  rules:
    - host: minikube.localhost
      http:
        paths:
          - path: /populate
            pathType: Prefix
            backend:
              service:
                name: fastapi-app
                port:
                  number: 8080
          - path: /delete
            pathType: Prefix
            backend:
              service:
                name: fastapi-app
                port:
                  number: 8080
